.DS_STORE

/backend/.idea
javademo/gradle/wrapper/gradle-wrapper.properties
javademo/.gradle
javademo/.idea
*.bin
*.lock
*.class
*.properties

frontend/.idea/misc.xml
frontend/.idea/misc.xml
frontend/.idea/misc.xml
backend/backend
